@{
    ViewBag.Title = "EpicTime";
}

<style>
    #secondMenu.navbar{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    #secondMenu .navbar-form{
        width: 100%
    }
    #secondMenu .dropdown{
        float: right;
    }
</style>
<nav id="secondMenu" class="navbar navbar-default navbar-lower" role="navigation">
    <div class="container">
        <div class="collapse navbar-collapse collapse-buttons">
            <form class="navbar-form navbar-left" role="search">
                <a class="btn btn-default" href="#home">Home</a>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Administration
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#employeeAdmin">Employees</a></li>
                        <li><a href="#clientAdmin">Clients</a></li>
                        @*<li><a href="#">Something else here</a></li>*@
                    </ul>
                </div>
            </form>
            
        </div>
    </div>
</nav>
<div ng-view></div>


